* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.nav-center {
  width: 90vw;
  margin: 0 auto;
  max-width: 1170px;
}
nav {
  background-color: #d4d4d4;
}
.nav-header {
  padding-top: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}
img {
  width: 50px;
}

.links {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
ul {
  list-style: none;
}
.links a {
  text-decoration: none;
  color: #fff;
  font-size: 1.3rem;
  display: block;
  margin: 1rem 0;
}

.links li {
}
.hamburger {
  background-color: transparent;
  border: none;
  color: #222;
  font-size: 2rem;
  transition: all 0.2s linear;
}
.hamburger:hover {
  color: purple;
  transform: rotate(-90deg);
}
.social-link {
  display: none;
}
.nav-links {
  /* background-color: transparent; */
  height: 0;
  overflow: hidden;
  transition: all 0.3s linear;
}
.nav-link .links {
  background-color: #d4d4d4;
  color: #222;
}

.social-link a {
  text-decoration: none;
  color: #fff;
  font-size: 1.3rem;
}

.showList {
  height: 20rem;
}

@media screen and (min-width: 700px) {
  .nav-center {
    max-width: 1170px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .links {
    flex-direction: row;
  }
  .links li {
    margin-left: 0.5rem;
  }
  .social-link {
    display: flex;
    flex-direction: row;
  }
  .social-link li {
    margin-left: 0.5rem;
  }
  .nav-links {
    height: auto !important;
  }
  .hamburger {
    display: none;
  }
}
